/* Colours */
$white: #ffffff;
$black: #303133;
$grey-light: #efefef;
$grey: #999;
$grey-dark: #272a2b;
$blue: #3b8cc0;
$yellow: #ecec36;

/* Fonts */
$fontFamily: 'Open Sans', sans-serif;

/* Sizing */
$mq-medium: 600px;
$mq-large: 900px;